/* Tablet > 740px*/

@media (min-width: 740px) {
    .section_4 .row .col {
        margin-bottom: 10rem;
    }

    .sec_6-content {
        justify-content: center;
    }
}

/* Mobile  < 740px*/

@media (max-width:740px) {
    .toggle {
        display: block;
    }

    .navbar ul.navbar-list {
        display: none;
    }

    .dropdown{
        top: 0px;
        left:unset;
        right: 30px;
        background-color: transparent;
    }

    .section_4 .row .col {
        margin-bottom: 10rem;
    }

    .sec_6-content {
        justify-content: center;
    }

    .footer-btn{
        justify-content: space-around;
    }

    .footer-btn .btn{
        margin: 0;
    }
}